body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6D5BBA, #8D58BF, #B055BB, #CF54A2);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.banner-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.banner {
    max-width: 100%;
    height: auto;
}


.form-container {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    margin-top: -50px;
    margin-bottom: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form h1 {
    margin-bottom: 20px;
}

label {
    text-align: left;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #6D5BBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8D58BF;
}

.feedback {
    font-size: 12px;
    color: red;
    margin-top: 5px;
    text-align: left;
}
